<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: head">
</head>
<body class="sb-nav-fixed">
	<div th:insert="fragments/header :: header"></div>
	<!--   <div id="layoutSidenav">
		<div id="layoutSidenav_nav" th:insert="fragments/side :: side"></div> -->
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h3 class="mt-4">Dashboard - Indicateurs de maintenance</h3>
				<hr />
				<div class="row">
					<div class="col-lg-4">
						<div class="row mb-3 ">
							<label for="inputLab" class="col-sm-4 col-form-label">Choisir un laboratoire:</label>
							<div class="col-sm-8">
								<select class="form-select" name="site" id="inputLab" onchange="updateList(this)">
									<option value=""></option>
									<option value="-1">-- Afficher pour tout --</option>
									<option th:each="lab : ${labs}" th:value="${lab.id}" th:text="${lab.name}" th:selected="${lab.id == labId}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-area me-1"></i>
								Temps total d'arrêt des équipements
							</div>
							<div class="card-body" id="equip_breakdown_time"></div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-bar me-1"></i>
								Délai total des réparations
							</div>
							<div class="card-body" id="equip_repair_time"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-area me-1"></i>
								Temps moyen entre 2 pannes
							</div>
							<div class="card-body" id="mtbf"></div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-area me-1"></i>
								Taux de disponiblité des équipements
							</div>
							<div class="card-body" id="availability"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-bar me-1"></i>
								Délai moyen de réparation des équipements
							</div>
							<div class="card-body" id="mttr"></div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="py-4 bg-light mt-auto" th:insert="fragments/footer :: footer"> </footer>
		<!--	</div>-->
	</div>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/5.15.4/js/all.js}"></script>
	<script th:src="@{/webjars/highcharts/9.3.2/highcharts.js}"></script>
	<script th:src="@{/webjars/highcharts/9.3.2/modules/exporting.js}"></script>
	<script th:src="@{/webjars/highcharts/9.3.2/modules/export-data.js}"></script>
	<script th:src="@{/webjars/highcharts/9.3.2/modules/accessibility.js}"></script>
	<script th:src="@{/DataTables/datatables.min.js}"></script>
	<script th:src="@{/webjars/select2/4.0.13/js/select2.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							let searchParams = new URLSearchParams(
									window.location.search);
							let labId = searchParams
									.get('l_id')?searchParams
											.get('l_id'):0;
							
							//temps total d'arrêt des équipements
							$
									.get(
											"/dashboard/total_breakdown_time?l_id="+labId,
											function(data) {
												Highcharts
														.chart(
																'equip_breakdown_time',
																{
																	chart : {
																		type : 'column'
																	},
																	title : {
																		text : "Temps total d'arrêts des équipements(En jours)"
																	},
																	xAxis : {
																		type : 'category'
																	},
																	yAxis : {
																		title : {
																			text : "Nombre de jours"
																		}

																	},
																	legend : {
																		enabled : false
																	},
																	plotOptions : {
																		series : {
																			borderWidth : 0,
																			dataLabels : {
																				enabled : true,
																			}
																		}
																	},

																	tooltip : {
																		headerFormat : '<span style="font-size:11px">{series.name}</span><br>',
																		pointFormat : '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} jours </b><br/>'
																	},

																	series : [ {
																		name : "Equipements",
																		colorByPoint : true,
																		data : data
																	} ]
																});
											});
							
							//equipement par type de labo
							$
									.get(
											"/dashboard/total_repair_time?l_id="+labId,
											function(data) {
												Highcharts
														.chart(
																'equip_repair_time',
																{
																	chart : {
																		type : 'column'
																	},
																	title : {
																		text : "Temps total des réparations des équipements(En jours)"
																	},
																	xAxis : {
																		type : 'category'
																	},
																	yAxis : {
																		title : {
																			text : "Nombre de jours"
																		}

																	},
																	legend : {
																		enabled : false
																	},
																	plotOptions : {
																		series : {
																			borderWidth : 0,
																			dataLabels : {
																				enabled : true,
																			}
																		}
																	},

																	tooltip : {
																		headerFormat : '<span style="font-size:11px">{series.name}</span><br>',
																		pointFormat : '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} jours </b><br/>'
																	},

																	series : [ {
																		name : "Equipements",
																		colorByPoint : true,
																		data : data
																	} ]
																});
											});

			
							//délai entre pannes
							$
									.get(
											"/dashboard/mtbf?l_id="+labId,
											function(data) {
												Highcharts
														.chart(
																'mtbf',
																{
																	chart : {
																		type : 'column'
																	},
																	title : {
																		text : "Délai moyen entre pannes(En jours)"
																	},
																	xAxis : {
																		type : 'category'
																	},
																	yAxis : {
																		title : {
																			text : "Nombre de jours"
																		}

																	},
																	legend : {
																		enabled : false
																	},
																	plotOptions : {
																		series : {
																			borderWidth : 0,
																			dataLabels : {
																				enabled : true,
																			}
																		}
																	},

																	tooltip : {
																		headerFormat : '<span style="font-size:11px">{series.name}</span><br>',
																		pointFormat : '<span style="color:{point.color}">{point.name}</span>: <b>{point.y} jours</b><br/>'
																	},

																	series : [ {
																		name : "Equipements",
																		colorByPoint : true,
																		data : data
																	} ]
																});
											});

							//Taux de disponibilité des équipements
							$
									.get(
											"/dashboard/availability?l_id="+labId+"&e_id=0",
											function(data) {
												Highcharts
														.chart(
																'availability',
																{
																	chart : {
																		type : 'column'
																	},
																	title : {
																		text : "Taux de disponibilité des équipements(En jours)"
																	},
																	xAxis : {
																		type : 'category'
																	},
																	yAxis : {
																		title : {
																			text : "Nombre de jours",
																		},
																		allowDecimals : false,
																		max: 100,

																	},
																	legend : {
																		enabled : false
																	},
																	plotOptions : {
																		series : {
																			borderWidth : 0,
																			dataLabels : {
																				enabled : true,
																				format: '{y:.2f} %'
																			}
																		}
																	},
																	tooltip : {
																		headerFormat : '<span style="font-size:11px">{series.name}</span><br>',
																		pointFormat : '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f} %</b><br/>'
																	},

																	series : [ {
																		name : "Equipements",
																		colorByPoint : true,
																		data : data
																	} ]
																});
											});

							//délai moyen des réparations
							$
									.get(
											"/dashboard/mttr?l_id="+labId,
											function(data) {
												Highcharts
														.chart(
																'mttr',
																{
																	chart : {
																		type : 'column'
																	},
																	title : {
																		text : "Temps moyen des réparations(En jours)"
																	},
																	xAxis : {
																		categories : data.categories,
																		crosshair : true
																	},
																	yAxis : {
																		title : {
																			text : "Nombre de jours"
																		}
																	},
																	legend : {
																		enabled : true
																	},
																	plotOptions : {
																		series : {
																			allowPointSelect : true,
																			dataLabels : {
																				enabled : true,
																			}
																		}
																	},
																	tooltip : {
																		headerFormat : '<span style="font-size:10px">{point.key}</span><table>',
																		pointFormat : '<tr><td style="color:{series.color};padding:0">{series.name}: </td>'
																				+ '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
																		footerFormat : '</table>',
																		shared : true,
																		useHTML : true
																	},

																	series : [
																			{
																				name : "Délai moyen des réparations",
																				data : data.TimeToRepair,
																				color : "#AADD44"
																			},
																			{
																				name : "Durée moyenne des réparations",
																				data : data.ReparationTime,
																				color : "#66BB99"
																			} ]
																});
											});
							
							$('#inputLab').select2({
								placeholder: 'laboratoire'
							});
						});
		//update list after lab selection
		updateList = function(e) {
			let labId = (e.value != -1) ? e.value : null;
			const parser = new URL(window.location);
			if (labId) {
				parser.searchParams.set('l_id', labId);
				window.location = parser.href;
			} else {
				parser.searchParams.delete('l_id');
				window.location = parser.href;
			}
		}
	</script>

</body>
</html>
