<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: head">
</head>
<body class="sb-nav-fixed">
	<div th:insert="fragments/header :: header"></div>
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h3 class="mt-4">Gestion des Etablissements sanitaires</h3>
				<hr />
				<div class="row">
					<div class="card mb-4">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-chart-area me-1"></i>
								<span th:text="${mode == 0}?'Ajouter un nouveau site':'Modifier un site'"></span>
							</div>
							<div class="card-body">

								<div class="all-form-element-inner">
									<form th:object="${site}" th:action="@{/site}" method="post">
										<div class="row">
											<div class="mb-3 col-xl-3 col-md-4">
												<label for="inputNomSite" class="form-label">Nom établissement sanitaire:</label>
												<input th:field="*{name}" type="text" class="form-control" id="inputNomSite" aria-describedby="site" placeholder="nom du site">
											</div>
											<div class="mb-3 col-xl-3 col-md-4">
												<label for="inputDistrict" class="form-label">District sanitaire:</label>
												<select class="form-control" name="region" id="inputDistrict" th:field="*{districtId}">
													<option th:each="district : ${districts}" th:value="${district.id}" th:text="${district.nom}"></option>
												</select>
											</div>
											<div class="mb-3 col-xl-2 col-md-2">
												<label for="inputDiisCode" class="form-label">Code DIIS:</label>
												<input class="form-control" name="diisCode" id="inputDiisCode" th:field="*{diisCode}" aria-describedby="diis code" placeholder="code DIIS">
											</div>
											<div class="mb-3 col-xl-2 col-md-2">
												<label for="inputDatimCode" class="form-label">Code DATIM:</label>
												<input class="form-control" name="datimCode" id="inputDatimCode" th:field="*{datimCode}" aria-describedby="Datim code" placeholder="code DATIM">
											</div>
										</div>
										<div class="row">
											<div class="mb-3 col-xl-3 col-md-4">
												<label for="inputCity" class="form-label">Ville (ou localité):</label>
												<input th:field="*{city}" type="text" class="form-control" id="inputCity" aria-describedby="city" placeholder="Ville ou localité">
											</div>
											<div class="mb-3 col-xl-3 col-md-4">
												<label for="inputDistrict" class="form-label">Longitude:</label>
												<input th:field="*{longitude}" type="number" step="any" class="form-control" id="inputLongitude" aria-describedby="longitude" placeholder="Longitude">

											</div>
											<div class="mb-3 col-xl-3 col-md-4">
												<label for="inputDistrict" class="form-label">Latitude:</label>
												<input th:field="*{latitude}" type="number" step="any" class="form-control" id="inputLatitude" aria-describedby="latitude" placeholder="Latitude">

											</div>
										</div>
										<input type="hidden" th:field="*{id}">
										<button type="submit" class="btn btn-primary">Enregistrer</button>
									</form>
								</div>


							</div>
						</div>
					</div>

				</div>
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-table me-1"></i>
						Liste des établissements sanitaires
					</div>
					<div class="card-body">
						<table class="table table-bordered" id="tab_site">
							<thead>
								<th>N°</th>
								<th>Nom du site</th>
								<th>Code DIIS</th>
								<th>Code DATIM</th>
								<th>Ville (Localité)</th>
								<th>Longitude</th>
								<th>Latitude</th>
								<th>District</th>
								<th>Région</th>
								<th>Modifier</th>
								<th>Supprimer</th>
							</thead>
							<tbody>
								<tr th:each="item,idx : ${sites}">
									<td th:text="${idx.count}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.diisCode}"></td>
									<td th:text="${item.datimCode}"></td>
									<td th:text="${item.city}"></td>
									<td th:text="${item.longitude}"></td>
									<td th:text="${item.latitude}"></td>
									<td th:text="${item.district.nom}"></td>
									<td th:text="${item.district.region.nom}"></td>
									<td>
										<a th:href="@{'/site/'+${item.id}}" title="modifier">
											<button type="button" class="btn btn-custon-four btn-info">
												<i class="fas fa-edit"></i>
											</button>
										</a>
									</td>
									<td>
										<a th:href="@{'/site/delete/'+${item.id}}" title="supprimer">
											<button type="button" class="btn btn-custon-four btn-danger">
												<i class="fa fa-trash"></i>
											</button>
										</a>

									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
		<footer class="py-4 bg-light mt-auto" th:insert="fragments/footer :: footer"> </footer>
	</div>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/5.15.4/js/all.js}"></script>
	<script th:src="@{/DataTables/datatables.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							var table = $('#tab_site')
									.DataTable(
											{
												dom : 'Bfrtip',
												buttons : [ 'csv', 'excel',
														'pdf' ],
												language : {
													url : "//cdn.datatables.net/plug-ins/1.11.5/i18n/fr-FR.json",
												}
											});
						});
	</script>

</body>
</html>
